extends ./base.jade
block content
	h1(class="demarginalize")= meta.title
	p(class="demarginalize") #[span(class="meta-username") #[a(href="/user/"+meta.user)= meta.user]]  #[span(class="meta-timestamp")= meta.timestamp]
	p(id="text")=meta.text
	div(id="comment-cont")
		h2(class="demarginalize") Comments
		p(id="write-comm") 
	script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/0.7.3/purify.min.js")
	script(src=url_for('static', filename='display.js'))